@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		// TODO: Check compatibility with the components' styling
		// color-scheme: light dark;
		// font-weight: 400;
		// line-height: 1.15;
		// font-synthesis: none;
		// text-rendering: optimizeLegibility;
		// -webkit-font-smoothing: antialiased;
		// -webkit-text-size-adjust: 100%;
		// -moz-osx-font-smoothing: grayscale;

		// Docs: https://next.shadcn-svelte.com/docs/theming#list-of-variables
		// Colors: https://next.shadcn-svelte.com/docs/theming#hex---color-channel
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;
		--ring: 240 10% 3.9%;
		--radius: 0.675rem;

		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;

		// TODO: Fix the sticker colors for light mode
		--sticker: 24 28% 30%;
		--sticker-foreground: 25 100% 72%;
		--sticker-border: 25 24% 24%;
	}

	.dark {
		// 240 10% 3.9% (original), e.g. also 240 6% 7% (adjusted) for fixing Chromium color shifting
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--ring: 240 4.9% 83.9%;

		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;

		--sticker: 310 26% 17%;
		--sticker-foreground: 330 61% 75%;
		--sticker-border: 323 23% 34%;
	}
}

@layer base {
	*::-webkit-scrollbar {
		background: transparent;
		width: 7px;
		scrollbar-width: 7px;
	}
	*::-webkit-scrollbar-thumb {
		background: #99999a;
		border-radius: var(--radius);
	}
	* {
		@apply border-border;
	}

	// a,
	// button {
	// 	@apply cursor-pointer;
	// }
	img,
	picture,
	svg,
	video {
		@apply block max-w-full;
	}
	html,
	body {
		@apply w-full touch-manipulation scroll-smooth bg-background text-foreground;
	}
	body {
		@apply overflow-x-hidden overflow-y-scroll selection:bg-sidebar-primary/10 selection:text-sidebar-primary;
	}

	body::after {
		content: '';
		@apply fixed left-1/2 top-4 z-0 h-[10%] w-[40vw] -translate-x-1/2 rotate-6 rounded-full bg-sidebar-primary/30 blur-3xl transition-colors md:-translate-x-[30%] md:bg-sidebar-primary/15;
	}

	/* 
	Background color deliberately set to e.g. #0D0D10 (HSL: 240, 10%, 6%). 
	Note: Chromium displays visual artifacts (e.g., color shifting) with very dark colors 
	like #0D0D10 due to rounding errors during HSL-to-RGB conversion and GPU optimizations.
	
	This issue does not occur in Safari and Firefox, as these browsers reportedly 
	use more precise rendering engines for colors. If problems persist, using a slightly 
	lighter color (e.g., #111113) or switching to RGB instead of HSL may resolve the issue.
	*/
	@supports (-webkit-appearance: none) {
		html:not(.dark),
		body:not(.dark) {
			background-color: #ffffff !important;
		}

		@media (prefers-color-scheme: dark) {
			html.dark,
			body.dark {
				background-color: #09090b !important;
			}
		}
	}
}
