@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;

		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 10% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 4.9% 83.9%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		transition:
			background-color 0.2s,
			color 0.2s;
		font-feature-settings:
			'rlig' 1,
			'calt' 1;
	}
}

@layer base {
	// Geist Mono
	@font-face {
		font-family: 'Geist Mono';
		font-style: normal;
		font-weight: 100;
		font-display: swap;
		src: url(/fonts/woff2/GeistMono-Thin.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Geist Mono';
		font-style: normal;
		font-weight: 200;
		font-display: swap;
		src: url(/fonts/woff2/GeistMono-UltraLight.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Geist Mono';
		font-style: normal;
		font-weight: 300;
		font-display: swap;
		src: url(/fonts/woff2/GeistMono-Light.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Geist Mono';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/woff2/GeistMono-Regular.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Geist Mono';
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url(/fonts/woff2/GeistMono-Medium.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Geist Mono';
		font-style: normal;
		font-weight: 600;
		font-display: swap;
		src: url(/fonts/woff2/GeistMono-Semibold.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Geist Mono';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url(/fonts/woff2/GeistMono-Bold.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Geist Mono';
		font-style: normal;
		font-weight: 800;
		font-display: swap;
		src: url(/fonts/woff2/GeistMono-Black.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Geist Mono';
		font-style: normal;
		font-weight: 900;
		font-display: swap;
		src: url(/fonts/woff2/GeistMono-UltraBlack.woff2) format('woff2');
	}

	// Geist Sans
	@font-face {
		font-family: 'Geist Sans';
		font-style: normal;
		font-weight: 100;
		font-display: swap;
		src: url(/fonts/woff2/Geist-Thin.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Geist Sans';
		font-style: normal;
		font-weight: 200;
		font-display: swap;
		src: url(/fonts/woff2/Geist-UltraLight.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Geist Sans';
		font-style: normal;
		font-weight: 300;
		font-display: swap;
		src: url(/fonts/woff2/Geist-Light.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Geist Sans';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/woff2/Geist-Regular.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Geist Sans';
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url(/fonts/woff2/Geist-Medium.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Geist Sans';
		font-style: normal;
		font-weight: 600;
		font-display: swap;
		src: url(/fonts/woff2/Geist-SemiBold.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Geist Sans';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url(/fonts/woff2/Geist-Bold.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Geist Sans';
		font-style: normal;
		font-weight: 800;
		font-display: swap;
		src: url(/fonts/woff2/Geist-Black.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Geist Sans';
		font-style: normal;
		font-weight: 900;
		font-display: swap;
		src: url(/fonts/woff2/Geist-UltraBlack.woff2) format('woff2');
	}

	// Jetbrains Mono
	@font-face {
		font-family: 'Jetbrains Mono';
		font-style: normal;
		font-weight: 100;
		font-display: swap;
		src: url(/fonts/woff2/JetbrainsMono-Thin.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Jetbrains Mono';
		font-style: italic;
		font-weight: 100;
		font-display: swap;
		src: url(/fonts/woff2/JetbrainsMono-ThinItalic.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Jetbrains Mono';
		font-style: normal;
		font-weight: 200;
		font-display: swap;
		src: url(/fonts/woff2/JetbrainsMono-ExtraLight.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Jetbrains Mono';
		font-style: italic;
		font-weight: 200;
		font-display: swap;
		src: url(/fonts/woff2/JetbrainsMono-ExtraLightItalic.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Jetbrains Mono';
		font-style: normal;
		font-weight: 300;
		font-display: swap;
		src: url(/fonts/woff2/JetbrainsMono-Light.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Jetbrains Mono';
		font-style: italic;
		font-weight: 300;
		font-display: swap;
		src: url(/fonts/woff2/JetbrainsMono-LightItalic.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Jetbrains Mono';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/woff2/JetbrainsMono-Regular.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Jetbrains Mono';
		font-style: italic;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/woff2/JetbrainsMono-Italic.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Jetbrains Mono';
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url(/fonts/woff2/JetbrainsMono-Medium.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Jetbrains Mono';
		font-style: italic;
		font-weight: 500;
		font-display: swap;
		src: url(/fonts/woff2/JetbrainsMono-MediumItalic.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Jetbrains Mono';
		font-style: normal;
		font-weight: 600;
		font-display: swap;
		src: url(/fonts/woff2/JetbrainsMono-SemiBold.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Jetbrains Mono';
		font-style: italic;
		font-weight: 600;
		font-display: swap;
		src: url(/fonts/woff2/JetbrainsMono-SemiBoldItalic.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Jetbrains Mono';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url(/fonts/woff2/JetbrainsMono-Bold.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Jetbrains Mono';
		font-style: italic;
		font-weight: 700;
		font-display: swap;
		src: url(/fonts/woff2/JetbrainsMono-BoldItalic.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Jetbrains Mono';
		font-style: normal;
		font-weight: 800;
		font-display: swap;
		src: url(/fonts/woff2/JetbrainsMono-ExtraBold.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Jetbrains Mono';
		font-style: italic;
		font-weight: 800;
		font-display: swap;
		src: url(/fonts/woff2/JetbrainsMono-ExtraBoldItalic.woff2) format('woff2');
	}
}
