// https://www.shadcn-svelte.com/docs/installation
{
	"rules": {
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"argsIgnorePattern": "^_",
				"varsIgnorePattern": "^\\$\\$(Props|Events|Slots|Generic)$"
			}
		]
	}
}
