*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	overflow: clip;
	background-color: #ffffff;
	/* background-image: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0.875),s
			white
		),
		url("/images/paper.jpg"); */
}
